/* RESET DO CSS */
html, body, header, main, footer, article, div, span, p, a, figure, img, small{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.linha{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.coluna{}

/* BODY */
body{

}

/* HEADER */
body > header{
    background-image: url(../img/bk-header.jpg);
    background-repeat: no-repeat;
    background-position: center -115px;
    padding: 18px 0;
}
body > header .container{}
body > header .linha{}
body > header .linha .coluna{}
body > header .linha .coluna figure{}
body > header .linha .coluna figure img{
    width: 100%;
    max-width: 150px;
}
body > header .linha .coluna h1{
    color: #fff;
    margin-left: 30px;
}


/* MAIN */
main{}
main .container{}
main article{}
main article header{}
main article header .linha{}
main article header .linha .coluna{}
main article header .linha .coluna span{}
main article header .linha .coluna-rank{}
main article header .linha .coluna-rank span{}
main article header .linha .coluna-country{}
main article header .linha .coluna-country span{}
main article header .linha .coluna-medalha{}
main article header .linha .coluna-medalha span{}
main article header .linha .coluna-total{}
main article header .linha .coluna-total span{}
main article section{}
main article section .linha{}
main article section .linha .coluna{}
main article section .linha .coluna span{}
main article section .linha .coluna-rank{}
main article section .linha .coluna-rank span{}
main article section .linha .country{}
main article section .linha .country img{}
main article section .linha .country span{}
main article section .linha .medal_gold{}
main article section .linha .medal_gold span{}
main article section .linha .medal_silver{}
main article section .linha .medal_silver span{}
main article section .linha .medal_bronze{}
main article section .linha .medal_bronze span{}
main article section .linha .total{}
main article section .linha .total span{}



